@import url("https://fonts.cdnfonts.com/css/pusab");

html {
overflow-x: hidden;
}

body {
  /* background-image: url("Изображения/Фон.jpg"); */
  background-image: url("Изображения/Background.png");
  background-position: center;
  background-repeat: space;
  overflow-x: hidden;
  background-size: cover;
  background-color: black;
}

.down {
  width: 400px;
  height: 90px;
}

.all {
  color: white;
  -webkit-text-stroke: 1px #000000;
  margin-top: 150px;
  text-align: center;
  overflow-x: hidden;
}

.text {
  font-size: 25px;
  font-family: "Pusab rus", sans-serif;
}

.pril {
  width: 250px;
  margin-bottom: 50px;
}

.down {
  width: 400px;
  transition: all 0.2s ease;
}

.down:hover {
  width: 370px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.PhoneDown {
  display: block;
  visibility: hidden;
}

.trailer {
  width: 871px;
  height: 490px;
}

@media (max-width: 990px) {
  body {
    background-size: 3100px;
  }
  .all {
    margin-top: 50px;
  }
}

@media (max-width: 910px) {
  .download {
    visibility: hidden;
  }
  .PhoneDown {
    visibility: visible;
    display: flex;
    width: 325px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
  }

  .trailer {
    width: 350px;
    height: 193px;
  }

  .all {
    margin-top: 0px;
  }
}
